.expense {
    text-align: center;
    color: #e42706;
}

.ExpenseCard {
    flex-shrink: 0;
    border-radius: 1.75rem;
    background: #BB4430;
    flex-shrink: 0;

    /* 1 */
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 0.5rem;
}

.ExpensePrice {
    margin-left: 1rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 1.49869rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ExpenseType {
    color: #FFF;
    font-family: Suprema;
    font-size: 1.257rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ExpenseDate {
    margin-left: 1rem;
    color: #FFF;
    font-family: Suprema;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.IncomeCard {
    border-radius: 1.75rem;
    background: #DDF9E4;
    /* 1 */
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 0.5rem;
}

.IncomePrice {
    margin-left: 1rem;
    flex-shrink: 0;
    color: #121212;
    font-family: Lato;
    font-size: 1.49869rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.IncomeSource {
    color: var(--text-primary, #404040);
    font-family: Suprema;
    font-size: 1.257rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.IncomeDate {
    margin-left: 1rem;
    color: #121212;
    font-family: Suprema;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.income {
    text-align: center;
    color: greenyellow;
}

.BudgetCard {
    border-radius: 1.75rem;
    background: #121212;

    /* 1 */
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 16px 24px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 0.5rem;
}

.BudgetMoney {
    color: #15E743;
    font-family: Lato;
    font-size: 1.49869rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    text-shadow: white;
}